<h1>Weather forecast</h1>

<p>This component demonstrates fetching data from the server.</p>

<p *ngIf="!forecasts && !hasErrors"><em>Loading... ({{this.currentAttempt}})</em></p>

<p *ngIf="hasErrors"><em>Sorry, it was not possible to get the weather. Please, try later.</em></p>

<table class='table' *ngIf="forecasts">
  <thead>
    <tr>
      <th>Date</th>
      <th>Temp. (C)</th>
      <th>Temp. (F)</th>
      <th>Summary</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let forecast of forecasts">
      <td>{{ forecast.date }}</td>
      <td>{{ forecast.temperatureInCelsius }}</td>
      <td>{{ forecast.temperatureInFahrenheit }}</td>
      <td>{{ forecast.summary }}</td>
    </tr>
  </tbody>
</table>
